* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
}
/* navigation bar */
nav {
    background-color: hsl(217, 47%, 50%);
    padding: 20px;
    border-bottom: 30px hsl(217, 84%, 15%) solid;
}

.underline {
    text-decoration: underline;
}

.link {
    margin: 10px;
    display: inline;
    padding: 10px 50px;
    font-size: 3rem;
    font-weight: 100;
}

nav a:link {
    color: hsl(217, 100%, 100%);
    text-decoration: none;
}
/* header */
header {
    height: 600px;
    background-image: url(https://picsum.photos/g/2000/600/?random);
    padding: 70px;
}

.maintitle {
    font-size: 7rem;
    color: hsl(217, 84%, 15%);
    text-shadow: 3px 3px 3px hsl(217, 100%, 100%);
    margin-bottom: 30px;
}

.subtitle {
    font-size: 5rem;
    color: hsl(217, 84%, 81%);
    text-shadow: 3px 3px 3px hsl(217, 84%, 15%);
}

/* main */
.mainheading {
    font-size: 3rem;
    color: hsl(217, 84%, 81%);
    margin: 80px;
    
}

.text {
    font-size: 1rem;
    line-height: 30px;
    margin: 30px 80px;
}

.subheading {
    font-size: 1.5rem;
    color: hsl(217, 84%, 81%);
    margin: 30px 80px;
}

/* list */
ul {
    margin-left: 100px;
}

ul li {
    margin-bottom: 10px;
}



